<html>
<head>
  <link rel="stylesheet" href="/css/adminHomePage.css">
</head>
<body class="admin">
  <%- include('./_menu.ejs') %>
  <div class="align-center">
    <h2 class="text-center", style="color: rgb(255, 255, 255);">ADMIN HOME</h2>
  </div>
</body>
</html>