<html>
<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="admin">
  <%- include('./_menu.ejs') %>
  <div class="align-center">
    <h2 class="text-center">ADMIN HOME</h2>
    <img src="http://cliparting.com/wp-content/uploads/2018/03/animated-emoticons-2018-13.gif" width="800px" height="600px" />
  </div>
</body>
</html>