<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
   <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <link href="../build/css/fontstyle.css" rel="stylesheet">

    <script>
      function details(id, name) {
        document.getElementById("txtID").value = id;
        document.getElementById("txtName").value = name;
        document.getElementById("btnUpdate").style.display = "inline";
        document.getElementById("btnDelete").style.display = "inline";
      }
    </script>
  </head>
  <body class="nav-md">
    <%- include('./_menuleft.ejs') %>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Update category</small></h3>
              </div>
              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="display: block;">
                  <div class="x_content">
                    <div class="table-responsive">
                      <form method="POST" action="/admin/updatecategory">
                        <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="headings">
                              <p>ID</p>
                              <input type="text" value="<%=cats._id%>" id="txtID" name="txtID" readonly />
                              <p>Name</p>
                              <input type="text" value="<%=cats.Name%>" id="txtName" name="txtName" placeholder="Enter name category" required>
                            </tr>
                          </thead>
                        </table>
                        <input type="submit" value="Update" /> | <a href="./listcategory"><input type="button" value="Back to category list" /></a>
                      </form>                    
                    </div>						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer content -->
        <footer>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>
