div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}

div.float-left {
  float: left;
  /* border: 1px solid black; */
}

div.float-right {
  float: right;
  /* border: 1px solid black; */
}

div.float-clear {
  clear: both;
}

ul.menu {
  margin: 0px;
  padding: 0px;
}

li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}

form.search {
  margin: 0px;
}

input.keyword {
  width: 110px;
}