<html>
  <head>
    <title>Shopping-Online.com | Login</title>
      <link rel="stylesheet" href="/css/customerLogin.css">
    <body>
      <div class="loginbox">
        <h1>Login here</h1>
        <form action="./login" method="POST">
          <p>Username</p>
          <input type="text" name="txtUsername" placeholder="Enter Udername" required>
          <p>Password</p>
          <input type="password" name="txtPassword" placeholder="Enter Password" required>
          <input type="submit" name="" value="Login">
          <input type="submit" name="" value="Create Account">
          <a href="./signup">Forgot Password?</a><br>
        </form>
      </div>
    </body>
  </head>
</html>